<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1Rb-oPd1M9OkZdYD7T7fpmSwr-xEo0HQ</string>
	<key>GCM_SENDER_ID</key>
	<string>973416647349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecoMarket</string>
	<key>PROJECT_ID</key>
	<string>eco-market-e3397</string>
	<key>STORAGE_BUCKET</key>
	<string>eco-market-e3397.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973416647349:ios:22b5378bf302d7f6904cfc</string>
</dict>
</plist>